Makefile
requirements.txt
MANIFEST.in
.gitattributes
datapackage.json
index.js
LICENSE
README.md
setup.cfg
setup.py
shortcountrynames.csv
versioneer.py
scripts/create_tag.sh
scripts/generate_modules.py
shortcountrynames/__init__.py
shortcountrynames/_version.py
venv
__pycache__
*.egg-info/
dist
build
*.pyc
.ipynb_checkpoints
.cache
